<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          crossorigin="anonymous">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Orelega+One&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="assets/styles/css/main.css">
	<title>Jessica Liang | Software Engineer</title>
</head>
<body>
<div class="container" id="jessica-app">
    <!-- NAVIGATION -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img src="assets/images/green_logo.png" alt="Jessica Liang logo" width="50"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li v-for="navItem in navItems" :key="navItem.text">
                        <a class="nav-link" v-bind:href="navItem.href">{{navItem.text}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- INTRO -->
    <div class="row">
        <div class="col-sm">
            <h1>Hi! My name is</h1>
            <h2 class="display-1">Jessica Liang.</h2>
            <h2>I like to build pretty things for the web.</h2>
            <p>I'm a software engineer based in Dallas, TX. I specialize in turning creative designs into functional
                websites or applications. I'm currently a front end app developer at <a href="https://www.marcus.com"
                                                                                        target="_blank">Marcus by
                    Goldman
                    Sachs</a>.</p>
            <p>Here are a few technologies I've worked with recently:</p>
            <ul>
                <li>JavaScript (ES6+)</li>
                <li>HTML & CSS/SCSS</li>
                <li>React</li>
                <li>Redux</li>
                <li>Vue.js</li>
                <li>Python</li>
            </ul>
            <a href="https://www.linkedin.com/in/jessicaliang721" class="btn btn-primary" target="_blank">My
                Linkedin</a>
        </div>
        <div class="col-sm">
            <img src="assets/images/profile_photo.png" class="img-fluid">
        </div>
    </div>

    <!-- WORK -->
    <div class="row" id="work">
        <h2>Featured Work</h2>
        <card-with-modal
            v-for="(work, index) in featuredWorks"
            :key="work.id"
            :work="work"
            :index="index"
        ></card-with-modal>
    </div>

    <!-- OTHER WORK -->
    <div class="row">
        <h2>Other Things I've Built</h2>
        <card-with-link
            v-for="(work, index) in otherWorks"
            :key="work.id"
            :work="work"
            :index="index"
        ></card-with-link>
    </div>

    <!-- PAST POSITIONS -->
    <div class="row" id="experience">
        <h2>Where I've Worked</h2>
        <div class="row">
            <div class="col-4">
                <div class="list-group" id="list-tab" role="tablist">
                    <tab-header
                        v-for="(tab, index) in tabItems"
                        :key="tab.id"
                        :tab="tab"
                        :index="index"
                    ></tab-header>
                </div>
            </div>
            <div class="col-8">
                <div class="tab-content" id="nav-tabContent">
                    <tab-body
                        v-for="(tab, index) in tabItems"
                        :key="tab.id"
                        :tab="tab"
                        :index="index"
                    ></tab-body>
                </div>
            </div>
        </div>
    </div>

    <!-- ABOUT ME -->
    <div class="row" id="about">
        <div class="col-sm">
            <img src="assets/images/about_pic_2.png" class="img-fluid">
        </div>
        <div class="col-sm">
            <h2>About Me</h2>
            <p>
                Outside of coding, I have a LOT of interests/hobbies! Some of them include traveling the world with my
                husband, photography,
                crafting, house plant care, interior design, and playing board games. My interests vary from day to day,
                and
                I'm always down to try new hobbies! If you have a cool suggestion or want to talk about a shared hobby, feel free to reach out! :)
            </p>
            <p>If you have any other questions for me, please first check out the FAQ below.</p>
        </div>
    </div>

    <!-- FAQ -->
    <div class="row" id="faq">
        <div class="col-sm">
            <h2>Frequently Asked Questions</h2>
            <div class="accordion accordion-flush" id="faqAccordion">
                <accordion-item
                    v-for="(item, index) in accordionItems"
                    :key="item.id"
                    :item="item"
                    :index="index"
                ></accordion-item>
            </div>
        </div>
    </div>

    <!-- CONTACT -->
    <div class="row" id="contact">
        <div class="col-sm">
            <h2>Don't be a stranger</h2>
            <a href="https://www.linkedin.com/in/jessicaliang721" class="btn btn-primary" target="_blank">Send me a LinkedIn message</a>
            <!-- Insert social media icons -->
        </div>
    </div>

    <!-- FOOTER -->
    <div class="row">
        <div class="col-sm">
            <p>Designed and built by Jessica Liang.</p>
        </div>
    </div>
</div>

<script src="https://unpkg.com/vue@next"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
<script src="assets/js/index.js" type="module"></script>
</body>
</html>